.places {
    margin: 92px 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 80px;
    box-sizing: border-box;
    list-style: none;
    padding: 0 148px;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .places {
        margin: 92px auto 0;
        max-width: 984px;
        padding: 0;
    }
}

@media screen and (max-width: 1280px) {
    .places {
        padding: 0 48px;
        margin: 92px auto 0;
    }
}

@media (max-width: 768px) {
    .places {
        row-gap: 73px;
        margin-top: 88px;
        padding: 0 24px;
    }
}

@media (max-width: 320px) {
    .places {
        padding: 0;
        row-gap: 49px;
        justify-items: center;
        margin-top: 64px;
    }
}