.places {
    margin: 92px 0;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 80px;
}

@media (max-width: 768px) {
	.place {
        row-gap: 73px;
        margin-top: 88px;
        margin-bottom: 90px;
        
    } 
}

@media (max-width: 320px) {
	.place {
        row-gap: 49px;
        justify-items: center;
        margin-top: 64px;
        margin-bottom: 66px;
    } 
}