.lead {
    width: 100%;
    height: auto;
    max-width: 984px;
    margin: 56px auto 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.lead {
        max-width: 928px;
    }

}

@media screen and (max-width: 768px) {
	.lead {
        max-width: 862px;
    }

}

@media screen and (max-width: 320px) {
	.lead {
        max-width: 320px;
    }

}