.place__paragraphs {
    align-self: flex-start;
}

@media screen and (max-width: 590px) {
    .place__paragraphs {
        margin: auto;
        padding: 0 16px;
        max-width: 330px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        margin: 0;
    }
}