.footer__links {
    list-style: none;
    display: flex;
    padding: 0;
    vertical-align: top;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        padding-bottom: 32px;
    }

    .footer__links:last-of-type {
        padding-bottom: 0;
    }
}