.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    /* max-height: 1005px; */
    position: relative;
    right: 147px;
    margin-top: 92px;
}

@media screen and (max-width: 1024px) {
	.intro {
        right: 119px;
	}
}

@media screen and (max-width: 768px) {
	.intro {
        max-width: 720px;
        right: 0;
        margin-top: 88px;
	}
}