/* .cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
} */