.lead__caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    /* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.lead__caption {
        padding-left: 24px;
    }
}