.place__website {
    max-width: 456px;
    border-radius: nullpx;
    align-self: end;
    grid-area: place__website;
}

@media screen and (max-width: 590px) {
    .place__website {
        display: none;
    }
}